:root {
    --color1: #b00080;
    --color_h2: #d00040;
    --color_h3: #800030;
    --color_h4: #400020;
    --color3: #400030;
}

body {
    background-image: url(../media/background/main.jpg);

    color: white;
    font-family: Arial;
}

#content {
    margin: 32px;
    margin-top: 100px;
}

header, footer {
    background-color: var(--color3);
    border-radius: 16px;
}

header {
    padding: 8px;
    font-family: monospace;
    text-transform: lowercase;
    position: fixed;
    left: 12.5%;
    width: 75%;
    top: 16px;
    box-shadow: 0px 0px 128px gray;
}

footer {
    line-height: 200%;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 128px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

header table {
    width: 100%;
}

footer {
    padding: 16px;
}

body {
    counter-reset: h2_counter
}

h2 {
    counter-reset: h3_counter
}

h3 {
    counter-reset: h4_counter
}

h4 {
    counter-reset: h5_counter
}

h5 {
    counter-reset: h6_counter
}

h2::before {
    counter-increment: h2_counter;
    content: counter(h2_counter) " ";
}

h3::before {
    counter-increment: h3_counter;
    content: counter(h2_counter) "."counter(h3_counter) " ";
}

h4::before {
    counter-increment: h4_counter;
    content: counter(h2_counter) "."counter(h3_counter) "."counter(h4_counter) " ";
}

h5::before {
    counter-increment: h5_counter;
    content: counter(h2_counter) "."counter(h3_counter) "."counter(h4_counter) "."counter(h5_counter) " ";
}

h6::before {
    counter-increment: h6_counter;
    content: counter(h2_counter) "."counter(h3_counter) "."counter(h4_counter) "."counter(h5_counter) "."counter(h6_counter) " "
}

h2, h3, h4, h5, h6 {
    background-color: black;
    text-align: center;
    font-family: monospace;
    text-transform: lowercase;
    letter-spacing: 8px;
    text-shadow: 2px 2px 4px black;
    border-radius: 8px;
}

h2::before, h3::before, h4::before, h5::before, h6::before {
    font-size: 50%;
    color: lightgray;
}

h1 {
    background-color: var(--color1);
    box-shadow: 0px 0px 128px var(--color1);
    padding: 16px;
    font-family: monospace;
    font-size: 500%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 16px;
    text-shadow: 4px 4px 8px black;
    border-top-left-radius: 64px;
    border-bottom-right-radius: 64px;
}

h2 {
    font-size: 300%;
    background-color: var(--color_h2);
    box-shadow: 0px 0px 32px var(--color_h2);
    margin-left: 16px;
}

h3 {
    font-size: 250%;
    background-color: var(--color_h3);
    box-shadow: 0px 0px 32px var(--color_h3);
    margin-left: 32px;
}

h4 {
    font-size: 200%;
    background-color: var(--color_h4);
    box-shadow: 0px 0px 32px var(--color_h4);
    margin-left: 64px;
}

p, ul, li {
    text-align: justify;
    hyphens: auto;
    text-shadow: 2px 2px 4px black;
    margin-left: 16px;
    margin-right: 0px;
}

ul {
    list-style-type: none;
    border-left: 4px solid white;
    padding-left: 4px;
}

a {
    color: white;
}

a:hover {
    color: lightgray;
}

img {
    vertical-align: middle;
    margin: 8px;
}