/* VARIABLES */

:root {
	/*Transparencies:*/
	--trans_25: #000000af;
	--trans_50: #0000007f;
	--trans_75: #0000003f;
	--trans_100: #00000000;

	/*Lightness Shades:*/
	--light_00: #000000;
	--light_25: #3f3f3f;
	--light_50: #7f7f7f;
	--light_75: #afafaf;
	--light_100: #ffffff;

	/*Other:*/
	--header_height: 128px;
	/*Set height as a variable so it can be used multiple times*/
	--blur: 64px;
	/*Standard value for blurred objects*/
}

/* BODY */

body {
	/*linear-gradient to darken the image, random image by picsum.photos*/
	background-image: linear-gradient(var(--trans_50), var(--trans_50)), url(https://picsum.photos/2048);
	background-color: var(--light_00);
	/*Black background if image loading fails*/
	background-repeat: no-repeat;
	/*Don't repeat image*/
	background-size: cover;
	/*Cover complete viewport*/
	background-attachment: fixed;
	/*Fix background regardless of scrolling*/

	font-family: sans-serif;
	/*Sans font*/
	color: var(--light_100);
	/*White text*/
	text-align: justify;
	/*Justified text*/
	text-shadow: 4px 4px 8px var(--light_00);
	/*Text Shadow: Offset Right, Offset Down, Blur, Color*/
}

img {
	vertical-align: middle;
	/*Required for some things*/
}

/* HEADER / FOOTER */

header, footer, h1, h2, h3, h4, h5, h6 {
	font-family: monospace;
	text-transform: lowercase;
	/*Both to create emphasize them. To some degree also nostalgic to my first version.*/
}

#header {
	/*This is just the container for the header*/
	z-index: 1;
	/*Above content*/
	position: fixed;
	/*Fixed on viewport*/
	top: 0;
	/*Offset from top*/
	left: 0;
	/*Offset from left edge*/
	height: var(--header_height);
	width: 100vw;
	/*100% of the width (ViewportWidth)*/
	background: linear-gradient(var(--trans_00), var(--trans_100));
	/*Linear gradient to create fade-out effect*/
}

header {
	--width: 75vw;
	/*Set width becuase it is needed multiple times*/
	background-color: var(--trans_50);
	backdrop-filter: blur(var(--blur));
	padding: 8px;
	width: var(--width);
	position: absolute;
	/*Absolute positioning to center*/
	top: 16px;
	/*Spacing to top of screen*/
	left: calc(1/2*(100vw - var(--width)));
	/*Calculate how much sapce on the left is needed
	calc():				 Calcualte
	1/2*():				 Half on this site, half on the right side
	(100vw:				 full viewport width
	- var(--width)):	 minus the width of the header
	*/
	border-radius: 16px;
}

footer {
	background-color: var(--trans_50);
	backdrop-filter: blur(var(--blur));
	line-height: 200%;
	/*Larger Line height to appear more filled*/
	margin: 16px;
	padding: 32px;
	border-radius: 32px;
}

header table, footer table {
	width: 100%;
	/*Full width, used to display multiple columns*/
}

/* CONTENT */

#content {
	/*The main container for all the content*/
	--margin: 32px;
	margin: var(--margin);
	margin-top: calc(var(--margin) + var(--header_height));
	/*To display below the header and have the standard margin*/
}

a {
	color: var(--light_100);
}

a:hover {
	color: var(--light_75);
}


/* HEADINGS */

h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

h1::after, h2::after, h3::after, h4::after, h5::after, h6::after {
	/*Used to underline the headings*/
	--width: 33.3%;
	/*Set width of underline*/
	content: "";
	/*Needed to render it*/
	display: block;
	/*Needed to change dimensions*/
	position: relative;
	/*Needed to change position relative to the heading*/
	left: calc(1/2*(100% - var(--width)));
	/*
	Calculate distance from left origin point

	1/2:			half on the left, half on the right (implied)
	100%:			Full width
	- var(--width):	Without the width of the line
	*/
	width: var(--width);
	height: 4px;
	background-color: var(--light_100);
	border-radius: 2px;
	/*Rounded edges*/
}

/* INPUT */

input, button, textarea, select {
	color: var(--light_100);
	accent-color: var(--light_00);
	/*Checkboxes, radio buttons, etc.*/
	background-color: var(--trans_75);
	backdrop-filter: blur(var(--blur));
}

input[type=text], input[type=email], input[type=number], input[type=button], input[type=submit], textarea {
	width: 100%;
	padding: 8px;
	box-sizing: border-box;
	/*Requred that the width is uniform*/
	outline: none;
	border-style: solid;
	border-width: 2px;
	border-radius: 8px;
}

/* USEFULL CLASSES */

.center {
	width: 100%;
	/*Cover everything*/
	display: flex;
	/*Required to center*/
	justify-content: center;
}

.hidden {
	/*Used to interact through JS*/
	display: none;
}

/* FLEX WRAPPING */

.flex_container {
	display: flex;
	/*change display mode*/
	flex-wrap: wrap;
	/*set wrapping to wrap into multiple rows*/
	justify-content: center;
	/*center content*/
}

.flex_item {
	flex-basis: 25%;
	/*Set base width*/
}

/* MULTI-LEVEL DROPDOWN */

.multi-level_dropdown {
	display: inline-block;
	/*Display inline with advanced styling possibilities*/
}

.multi-level_dropdown, .multi-level_dropdown ul, .multi-level_dropdown li {
	list-style-type: none;
	/*Remove bullets*/
	margin: 0;
	padding: 0;
	position: relative;
	/*Displays children relative to this element*/
}

.multi-level_dropdown ul li {
	margin-left: 0;
	/*Align properly without any space*/
}

.multi-level_dropdown ul {
	/*First dropdown*/
	display: none;
	/*Hide unless selected*/
	position: absolute;
	/*Display relative to parent*/
	left: 0;
	top: 100%;
	/*Display directly below*/
}

.multi-level_dropdown ul ul {
	/*Subsequent dropdowns*/
	display: none;
	position: absolute;
	left: 100%;
	top: 0;
	/*Display to the right instead*/
}

.multi-level_dropdown li:hover>ul, .multi-level_dropdown li:focus-within>ul {
	/*Display only the next ul when the li is hovered*/
	display: block;
}

.multi-level_dropdown li {
	width: 128px;
	background-color: var(--light_25);
	border-radius: 4px;
	padding: 8px;
	margin: 4px;
}

.multi-level_dropdown ul ul li {
	margin-top: 0;
	/*No offset*/
	margin-left: 4px;
}

.multi-level_dropdown li:hover {
	background-color: var(--light_50);
}

.multi-level_dropdown a:hover {
	/*Do not change color*/
	color: inherit;
}

.multi-level_dropdown li.submenu::after {
	/*Display to all li elements with the class submenu*/
	content: ">";
	/*Display an arrow to indicate a submenu*/
	position: absolute;
	right: 8px;
	top: 50%;
	transform: translateY(-50%);
	/*Display in middle*/
}