#result li {
	margin: 16px;
	/*large gap between elements*/
	padding: 16px;
	border-radius: 8px;
	/*rounded cornors*/
}

#result>ul>li {
	/*only apply to top level lis*/
	background-color: var(--trans_75);
	backdrop-filter: blur(var(--blur));
}

#result li li {
	margin: 0;
	/*no gap in nested lis*/
	padding: 4px;
	/*smaller padding in nested lists*/
}