<!DOCTYPE html>
<html lang="en">

<head>
    <base href=".">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>/... | 0yqc.github.io</title>
</head>

<body>
    <div id="header"></div>
    <div id="content">
        <h2>Directory Listing for /...</h2>
        <div class="center lined_ul">
            <ul>
                <li>
                    <a href=""></a>
                </li>
            </ul>
        </div>
        <!--
        1. Changed Name?
        2. Added to Sitemaps?
            - /sitemap.txt
            - /templates/sitemap.html
        -->
    </div>
    <div id="footer"></div>
    <script src="js/template.js"></script>
</body>

</html>