<footer>
	<table>
		<tr>
			<td class="text_verticalMiddle">
				<a href="privacy/">Privacy Policy</a><br><br>
				<a href="credits/">Credits</a><br><br>
				<a href="sitemap/">Sitemap</a><br><br>
				<a href="contact/?type=other">Contact Me</a><br>
				<a href="contact/?type=feature">Suggest New Features</a><br>
				<a href="contact/?type=bug">Bug Report</a>
			</td>
			<td>
				<form id="newsletter">
					<h2>E-Mail Newsletter Signup</h2>
					<label for="email">Your E-Mail Adress:</label><br>
					<input type="email" name="email" id="email" required><br>
					<input type="checkbox" name="agree" id="agree" required>
					<label for="agree">I agree to the <a href="privacy/">Privacy Policy</a>.</label><br>
					<input type="submit" name="submit" id="submit" value="Signup (Opens Mail Program)">
				</form>
			</td>
		</tr>
	</table>
	<div id="tm_lego">LEGO® is a trademark of the LEGO Group of companies which does not sponsor, authorize or endorse this site.</div>
	<div id="tm_rb">Rebrickable® is a trademarked term owned by Rebrickable Pty Ltd.</div>
	Content licensed under the GNU General Public License, full licence text <a href="LICENSE.md">here</a>.
</footer>