<header>
	<table>
		<tr>
			<td>
				<a href=""><img src="media/logo/white.svg"></a>

				<ul class="multi-level_dropdown">
					<li><a href="">root</a>
						<ul>
							<li><a href="contact/">Contact</a></li>
							<li><a href="credits/">Credits</a></li>
							<li><a href="editor/">Editor</a></li>
							<li><a href="pi_art/">π Art Generator</a></li>
							<li><a href="tracker/">Tracker</a></li>
							<li><a href="lego/">LEGO®</a>
								<ul>
									<li><a href="lego/mocs">All my MOCs</a></li>
								</ul>
							</li>
						</ul>
					</li>
				</ul><span id="navigator_text"></span>

			</td>
			<td style="text-align: right;">
				Last Modified: <span id="last_modified"></span> </td>
		</tr>
	</table>
</header>