<header>
	<table>
		<tr>
			<td>
				<a href=""><img src="media/logo/white.svg" id="header_logo"></a>

				<ul class="multi-level_dropdown">
					<li><a href="">root</a>
						<ul>
							<li><a href="contact/">Contact</a></li>
							<li><a href="credits/">Credits</a></li>
							<li><a href="pi_art/">π Art Generator</a></li>
							<li><a href="rng/">Random Number Generator</a></li>
							<li><a href="tracker/">Tracker</a></li>
							<li><a href="lego/">LEGO®</a>
								<ul>
									<li><a href="lego/mocs">All my MOCs</a></li>
								</ul>
							</li>
						</ul>
					</li>
				</ul><span id="breadcrumb"></span>
			</td>
			<td class="text_right" id="header_tdLastModified">
				Last Modified: <span id="last_modified"></span>
			</td>
			<td>
				<div class="text_5em no_underline">
					<a href="search/">⌕</a>
				</div>
			</td>
		</tr>
	</table>
</header>