<ul class="root">
	<li>
		<a href="/">root</a>
		<ul>
			<li>
				<a href="/contact/">Contact</a>
			</li>
			<li>
				<a href="/credits/">Credits</a>
			</li>
			<li>
				<a href="/lego/">LEGO®</a>
				<ul>
					<li>
						<a href="/lego/mocs/">My MOCs</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="/pi_art/">π Art Generator</a>
			</li>
			<li>
				<a href="/privacy/">Privacy Policy</a>
			</li>
			<li>
				<a href="/rng/">Random Number Generator</a>
			</li>
			<li>
				<a href="/search/">Search</a>
			</li>
			<li>
				<a href="/sitemap/">Sitemap</a>
			</li>
			<li>
				<a href="/socials/">My Socials</a>
			</li>
			<li>
				<a href="/tracker/">Tracking Showcase</a>
			</li>
			<li>
				<a href="/0yNws/">0yNws: Newsletter</a>
				<ul>
					<li tabindex="0">
						2025
						<ul>
							<li tabindex="0">
								04: April
								<ul>
									<li>
										<a href="/0yNws/2025/04/0x00/">0x00</a>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</li>
</ul>